<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pph.demo.mapper.LoginMapper">
    <resultMap id="BaseResultMap" type="com.pph.demo.model.Login">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="gmt_creater" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="gmt_modify" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="base_all">
        `id`, `user`, `password`, `gmt_create`, `gmt_modify`
    </sql>

    <select id="queryLoginByUserAndPwd" parameterType="java.util.Map" resultType="com.pph.demo.model.Login">
        SELECT
            <include refid="base_all" />
        FROM
            `login`
        <where>
            `user` = #{user}
            AND `password` = #{password}
        </where>
    </select>

    <insert id="createLogin" parameterType="com.pph.demo.vo.request.login.LoginVo"  useGeneratedKeys="true" keyProperty="id">
        <selectKey>
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `login`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user != null">
                `user`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            `gmt_create`
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="user != null">
                #{user},
            </if>
            <if test="password != null">
                #{password},
            </if>
            NOW()
        </trim>
    </insert>
</mapper>