<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pph.demo.mapper.UserMapper">
    <resultMap id="BaseRM" type="com.pph.demo.model.User">
        <!--        <constructor>-->
        <!--            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>-->
        <!--            <arg column="user" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
        <!--        </constructor>-->
        <id column="id" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
        <result column="user" jdbcType="VARCHAR" javaType="java.lang.String" property="user"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="password"/>
        <result column="name" jdbcType="VARCHAR" javaType="java.lang.String" property="name"/>
        <result column="sex" jdbcType="VARCHAR" javaType="java.lang.String" property="sex"/>
        <result column="birthday" jdbcType="DATE" javaType="java.util.Date" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" javaType="java.lang.String" property="address"/>
        <result column="description" jdbcType="VARCHAR" javaType="java.lang.String" property="description"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" javaType="java.util.Date" property="gmtModify"/>
    </resultMap>

    <sql id="queryUserByTermsColumn">
        `id`, `user`, `password`, `name`, `sex`, `birthday`,
        `address`, `description`, `gmt_create`, `gmt_modify`
    </sql>
    <select id="queryUserByTerms" resultMap="BaseRM" parameterType="java.util.Map">
        SELECT
        <include refid="queryUserByTermsColumn"/>
        FROM
        `user`
        <where>
            <if test="id != null">
                `id` = #{id}
            </if>
            <if test="user != null">
                AND `user` = #{user}
            </if>
            <if test="name != null">
                AND `name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="sex != null">
                AND `sex` = #{sex}
            </if>
        </where>
        ORDER BY `gmt_modify` DESC
        <if test="isPage != null and isPage == true">
            LIMIT #{offSet}, #{pageSize}
        </if>
    </select>

    <select id="queryCountByTerms" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        COUNT(*)
        FROM
        `user`
        <where>
            <if test="id != null">
                `id` = #{id}
            </if>
            <if test="user != null">
                AND `user` = #{user}
            </if>
            <if test="name != null">
                AND `name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="sex != null">
                AND `sex` = #{sex}
            </if>
        </where>
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.pph.demo.vo.request.user.CreateUserVo">
        <selectKey>
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user != null">
                `user`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="sex != null">
                `sex`,
            </if>
            <if test="birthday != null">
                `birthday`,
            </if>
            <if test="address != null">
                `address`,
            </if>
            <if test="description != null">
                `description`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="user != null">
                #{user},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="description != null">
                #{description},
            </if>
        </trim>
    </insert>

    <update id="updateUserById" parameterType="com.pph.demo.vo.request.user.UpdateUserVo">
        UPDATE `user`
        <set>
            <if test="user != null">
                `user` = #{user},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="sex != null">
                `sex` = #{sex},
            </if>
            <if test="birthday != null">
                `birthday` = #{birthday},
            </if>
            <if test="address != null">
                `address` = #{address},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <delete id="deleteUserById" parameterType="com.pph.demo.vo.request.user.DeleteUserVo">
        DELETE FROM `user` WHERE `id` = #{id}
    </delete>

    <select id="queryUserByUserPwd" resultMap="BaseRM" parameterType="java.util.Map">
        SELECT
        <include refid="queryUserByTermsColumn"/>
        FROM `user`
        WHERE
        `user` = #{user} AND `password` = #{password}
    </select>

    <insert id="register" parameterType="java.util.Map">

    </insert>
</mapper>